.white-strip
  .wrapper.padding2
    .title
      Продажа готовых фирм по Москве и МО всего за
      %span.light 14 990 рублей


.wrapper.padding1
  .benefits-header
    Почему стоит купить ООО у компании "ГорКом"
  .benefits
    .benefit
      Вы становитесь владельцем ООО всего за 1 час
    .benefit
      100% гарантия чистоты фирмы
    .benefit
      Большой опыт. Более 200 проданных компаний
    .benefit
      Консультация и помощь при подборе ООО


.wrapper
  .phone
    8 (495) 768 96 67


.wrapper
  .order-button
    Заказать консультацию



.modal-overlay
.modal-dialog
  .header
    Заказать консультацию
  .body
    %form{action: '#'}
      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш телефон'}
      %button#send-order
        Заказать консультацию

.modal-thank-you
  .header
    Спасибо!
  .body
    Мы свяжемся с вами уже очень скоро.


    %button#hide-thank-you
      Я буду ждать!